@{
    Layout = "_Layout";
}
@{
    var books = ViewBag.book;
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="/images/Violeta.jpg"></img>
            </div>
            <div class="">
                <div class="card-body">
                    <h2 card-title>@books.title</h2>
                    <hr />
                    <h4>@books.description</h4>
                    <span> Author | Isabel Allende </span>
                    <button>Add toList</button> <button>Like</button>
                    <p>
                        @books.sinopsis
                    </p>
                </div>
            </div>
        </div>
    </div>

      
    
}

